openapi: 3.0.3
info:
  version: 0.0.1
  title: ClickPrint API Specification

servers:
  - url: https://cp-server.wckd.pk/api

tags:
  - name: auth
  - name: profile

paths:
  /auth/otp:
    post:
      tags:
        - auth
      summary: Send an OTP
      description: |-
        Send an OTP to the provided phone number via WhatsApp.

        Phone numbers must be in E.164 format, without the plus. (example: `923001234567`)

        For security purposes, the endpoint will respond with `200 OK` even if the phone number is invalid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number:
                  type: string
                  example: "923001234567"
              required:
                - number
      responses:
        '200':
          description: Sucessfully sent OTP via WhatsApp.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapper'
        '429':
          description: Too many requests. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapper'
        '502':
          description: Failed to send OTP. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapper'
  /auth/verify:
    post:
      tags:
        - auth
      summary: Verify an OTP
      description: |-
        Verify an OTP against a phone number.

        If the OTP is valid, a JWT authentication token will be returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  example: "123456"
                number:
                  type: string
                  example: "923001234567"
              required:
                - code
                - number
      responses:
        '200':
          description: OTP verification successful. Authentication token returned.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseWrapper'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
                            example: eyJhbGciOiJIUzI1NiR5cCI6IkpXVCJ9...
                        required:
                          - token
        '401':
          description: Invalid or expired OTP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapper'
        '429':
          description: Too many requests. Try again later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapper'
  /profile:
    get:
      tags:
        - profile
      summary: Fetch details about the currently logged in user's profile
      responses:
        '200':
          description: Fetched user profile successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseWrapper'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - profile
                        properties:
                          profile:
                            $ref: '#/components/schemas/UserProfile'
    patch:
      tags:
        - profile
      summary: Allow the currently logged in user to edit their profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                name:
                  type: string
                  example: John Doe
      responses:
        '200':
          description: Edited user profile successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResponseWrapper'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - profile
                        properties:
                          profile:
                            $ref: '#/components/schemas/UserProfile'

components:
  schemas:
    ResponseWrapper:
      type: object
      required:
        - success
        - message
        - data
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
    UserProfile:
      type: object
      required:
        - name
        - number
      properties:
        name:
          type: string
          example: John Doe
        number:
          type: string
          example: 923001234567
